<ion-popover-view style="width:100%;height:10px;position:fixed;margin:0px;">
 <ion-header-bar class="bar-assertive">
  <div class="buttons">
   <button class="button button-clear" ng-click="closeOpenMailModal()"><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <div id="mailButtons" class="buttons">
   <button class="button button-clear"><i class="icon ion-ios-download"></i></button>
   <button class="button button-clear"><i class="icon ion-ios-trash"></i></button>
   <button class="button button-clear"><i class="icon ion-email"></i></button>
   <button class="button button-clear" ng-click=""><i class="icon ion-android-more-vertical"></i></button> 
  </div>
 
 </ion-header-bar> 
</ion-popover-view>